<div class="column-layout group">
  <div class="column-layout group_1">
    <h5 class="h5">
      Sign In
    </h5>
    <div class="row-layout group_2">
      <button igxButton="raised" igxRipple class="button">
        <igx-icon>
          donut_small
        </igx-icon>
        <span>Google</span>
      </button>
      <button igxButton="raised" igxRipple class="button">
        <igx-icon>
          dashboard
        </igx-icon>
        <span>Microsoft</span>
      </button>
      <button igxButton="raised" igxRipple class="button">
        <igx-icon>
          copyright
        </igx-icon>
        <span>Apple</span>
      </button>
    </div>
    <igx-input-group type="border" class="input">
      <input type="text" igxInput />
      <label igxLabel>Email/Username</label>
    </igx-input-group>
    <igx-input-group type="border" class="input">
      <input type="text" igxInput />
      <label igxLabel>Password</label>
    </igx-input-group>
    <igx-checkbox labelPosition="after" class="checkbox">
      Keep Me signed In
    </igx-checkbox>
    <button igxButton="raised" igxRipple routerLink="/home/acceuil" class="button_1">
      Sign In
    </button>
    <a target="_blank" class="ig-typography__body-1 hyperlink">
      Forgot Your Account?
    </a>
    <button igxButton="raised" igxRipple routerLink="/create-account" class="button_1">
      Create New Account
    </button>
  </div>
</div>
<div class="column-layout group_3">
  <img src="/assets/logo.png" class="image" />
</div>
