:host {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
}
.row-layout {
  display: flex;
}
.group {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
}
.row-reverse-layout {
  display: flex;
  flex-direction: row-reverse;
}
.group_1 {
  z-index: 1;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  gap: 50px;
  left: 2.5534612262060126px;
  top: 105.01912487373149px;
  position: fixed;
  margin: 100px;
  width: 1351px;
  height: 954px;
  min-width: 50px;
  min-height: 50px;
  align-self: stretch;
  flex-shrink: 0;
}
.group_2 {
  z-index: 1;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  gap: 20px;
  overflow: hidden;
  left: 510.8985785428806px;
  top: 185.29472470157364px;
  position: fixed;
  min-width: 50px;
  min-height: 50px;
}
.group_3 {
  z-index: 1;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  gap: 20px;
  overflow: hidden;
  left: 535.0625192955057px;
  top: 335.28756292030295px;
  position: fixed;
  min-width: 50px;
  min-height: 50px;
}
.tabs {
  z-index: 1;
  right: -4.440892098500626e-16px;
  left: 73.52270717721768px;
  top: 424.4042659133833px;
  bottom: -133.08360891998134px;
  position: fixed;
  width: 1309px;
  min-width: 0;
  min-height: 0;
}
.tab-item {
  min-width: 100%;
}
.image {
  object-fit: cover;
  border-radius: 1000px;
  width: 111px;
  height: 113px;
  min-width: 0;
  min-height: 0;
}
.content {
  height: max-content;
  min-width: min-content;
}
.text {
  z-index: 1;
  left: 129.3875792972625px;
  top: 370.8750434148879px;
  position: fixed;
  height: max-content;
  min-width: min-content;
}
.tab-item-content {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  overflow: auto;
  height: 100%;
  min-width: 100%;
  min-height: 50px;
}
.button {
  margin: 4px 0 0;
  height: max-content;
  flex-shrink: 0;
}
.button_1 {
  --igx-button-foreground: hsla(var(--ig-secondary-400));
  --igx-button-background: hsla(var(--ig-surface-500));
  height: max-content;
}
